/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #0FACF3;
$brand-color-dark: #0A6E9B;
$gray-background: #FBFBFB;

$red: #B42A25;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #F67A2F;
$orange-dark: #CA6427;
$green: #32B796;
$gray: #282828;
$gray-light: #9D9D9D;
$gray-very-very-very-light: #FAFAFA;
$gray-very-very-light: #EBEBEB;
$gray-very-light: #D7D7D7;
$gray-medium: #767676;
