.dashboard-container{
  width: 100%;
  background-color: $gray-very-very-very-light;
  padding-top:100px;
  .dashboard-city-box{
    margin: 50px 5px;
    padding: 0px 20px;
    background-color: white;
    border: solid 1px $gray-very-light;
    h3{
      margin: 0px;
      margin-top: 10px;
      font-size: 24px;
      font-weight: bolder;
    }
  }
}

.thank-container{
  width: 100%;
  background-size: cover;
  background-position:  0px -200px;
  height: 400px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  &-content{
    padding: 10px;
    position: relative;
    top: 200px;
    width: 700px;
    height: 200px;
    background-color: $gray-very-very-very-light;
    box-shadow: 0px 1px 1px $gray-light;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  h2{
    font-size: 28px;
  }
  a{
    margin-bottom: 20px;
  }
}

.star-div{
  height: 50px;
  width: 100%;
  padding: 10px;
  padding-top: 0px;
  i{
    font-size: 28px;
    padding: 10px;
    &:hover{
      color: orange;
    }
  }

  .orange{
    color: orange;
  }
}
