.main-container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #FAFAFA;
}

.tabs {
    color: white;
    transition: 0.3s;
    background: #209EDA;
    flex: 0 0 25%;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}

.tab-content {
    padding: 6px 12px;
    background-color: #FAFAFA;
}

.tabs:first-child {
  border-right: solid 1px $gray-very-light;
}

.tabs.active {
  background: blue;
  color: orange;
}

.tabs a {
  color: white;
}
