#project_description{
  height: 78px;
}

.help-block{
  margin: 0px;
  font-size: 10px;
}

.control-label{
  font-size: 14px;
  color: $gray-medium;
}

.front-info {
  background-color: $gray-very-very-very-light;
}

.info-box {
  box-shadow: 0px 2px 2px $gray-very-very-light;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  width: 80%;
  margin: 20px auto;
  img{
    border: solid 1px $gray-very-light;
  }
}

.info-left {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-right: 40px;
  i{
    color: $brand-color
  }
  &.hows{
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0px 40px;
    li{
      padding-top: 10px;
      text-align: justify;
      font-size: 16px;
      font-weight: lighter;
      strong{
        font-weight: 400;
      }
    }
  }
}

.info-right {
  display: flex;
  align-items: center;
  &.whys{
    flex: 1 1 auto;
    p{
      font-family: "Raleway", "Helvetica", "sans-serif";
      font-size: 20px;
      font-weight: 400;
      padding: 0px 40px;
      text-align: justify;
    }
  }

  &.hows{

  }
}

.section-container{
  width: 100vw;
  min-height: calc(100vh - 50px);
  background-color: $gray-very-very-very-light;
  padding: 40px;
  &.the-hows{
    background-color: white;
    .info-box {
      background-color: $gray-very-very-very-light;
      width: 90%;
    }
  }
}

#hidden-form-container{
  height: calc(100vh - 50px);
  width: 100vw;
}

.form-container{
  margin-top: 50px;
  width: 600px;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  background-color: $gray-very-light;
  input{
    font-size: 12px;
  }
  textarea{
    font-size: 12px;
  }
  label{
    font-size: 12px;
    text-align: left;
    color: $gray;
  }

  .form-group{
    margin-bottom: 0px;
  }

  .btn-brand{
    margin-top: 10px;
  }
  .help-block{
  font-size: 12px;
  color: $brand-color;
  }
}

.basic-footer{
  height: 50px;
  width: 100vw;
  background-color: $brand-color;
}
