#hidden-form {
  align-items: center;
  justify-content: center;
  display: flex;
}

#hidden-form_details{
  // color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height:95%;
  width:100%;
  background-color: #E3E3E6;
  background: rgba(204,204,204,.9);
  padding: 30px;
  padding-right: 60px;
  padding-left: 60px;
  // background: white;
  // opacity: 0.5;
  // filter: alpha(opacity=50);
}

#project_description{
  height: 78px;
}

.help-block{
  margin: 0px;
  font-size: 10px;
}

.control-label{
  font-size: 14px;
  color: $gray-medium;
}

