
.message-wr {
  margin: auto;
  padding: 100px;
  padding-top: 30px;
  height: calc(100vh - 50px);
  width: 100vw;
  }

.messages {
  background-color: #fff;
  box-shadow: 0 0 0 5px #f4f2ed inset;
  box-sizing: border-box;
  height: 87%;
  overflow: scroll;
  padding: 20px;
  }

.messages-table {
  display: table;
  width: 100%;
  }

.message {
  margin-bottom: 20px;
  width: 100%;
  display: table;
  overflow: hidden;
  }

.message-user {
  float: left;
  color: #666;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
  }

.message-content {
  float: left;
  width: 40%;
  background: #D3D3D3;
  color: black;
  padding: 10px 10px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  }

.message-currentuser {
  float: right;
  color: #666;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
  }

.message-currentcontent {
  float: right;
  width: 40%;
  background: #86BB71;
  color: white;
  padding: 10px 10px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  }

.message-input {
  background-color: rgba(0,0,0,0.03);
  box-sizing: border-box;
  height: 8%;
  padding: 0px 5px 5px;


  form{
      height: 100%;
  }

  textarea {
      height: 100%;
      width: 84.5%;
  }

  input {
      float: right;
      height: 100%;
      vertical-align: top;
      width: 14.5%;
  }
}


