.banner-container.sign{
  height: calc(100vh - 0px);
  position: fixed;
  top: 0px;
  left: 0px;
}

.sign-form-container{
    margin-top: 50px;
    min-height: 350px;
    width: 400px;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    background-color: $gray-very-light;
    input{
      font-size: 12px;
    }
    label{
      font-size: 12px;
      text-align: left;
      color: $gray;
    }

    .form-group{
      margin-bottom: 0px;
    }

    .btn-primary{
      margin-top: 10px;
    }
    .help-block{
    font-size: 12px;
    color: $brand-color;
  }
}
