<div class="banner-container">
  <div class="banner" style="background-image: linear-gradient(0deg, rgba(50,50,50,0.6) 0%, rgba(50,50,50,0.6) 0%), url('<%= image_path "background.jpg"%>');">
    <div class="banner-main-content">
      <h1>Bach<span>It</span></h1>
      <p>Group planning made simple</p>
      <% if user_signed_in? %>
        <a class="btn btn-brand", id="create" >Create your Trip</a>
      <% else %>
        <%= link_to "Sign up to create your Trip", new_user_registration_path, class:"btn btn-brand" %>
      <% end %>
    </div>
  </div>
</div>
