<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background.jpg"%>');">
  <div class="banner-main-content">
    <h1>Bachelor Trip</h1>
    <p>Group planning made simple</p>
    <!-- <a class="btn btn-success btn-lg", id="create", class="button_red" >Create Trip</a> -->
    <% if user_signed_in? %>
      <a class="btn btn-brand", id="create" >Create a Trip</a>
    <% else %>
      <%= link_to "Sign up to create a Trip", new_user_registration_path, class:"btn btn-brand" %>
    <% end %>
  </div>
  <div class="hidden" id="hidden-form">
    <div id="hidden-form_details">
    <% @project = Project.new %>
    <%= render "projects/new_project_form" %>
    </div>
  </div>
</div>
