<div class='results-card'>
  <% things.each do |thing| %>
    <div class='result-line'>
      <%= render "shared/selection_card", thing: thing %>
      <div class='result-item', style="color: #209EDA">
        <% if thing.city.project.get_participant_votes(current_user) < 24 %>
          <p><strong>? Votes</strong></p>
        <% else %>
          <p><strong><%= thing.total_votes %> Votes</strong></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
