

<div class="banner-container sign">
  <div class="banner" style="background-image: linear-gradient(0deg, rgba(50,50,50,0.6) 0%, rgba(50,50,50,0.6) 0%), url('<%= image_path "background.jpg"%>');">
    <div class="banner-main-content">
      <br>
      <br>
      <div class="sign-form-container" style: "width: 500px;">
        <% @project = Project.new if @project.nil?%>
        <%= render "projects/new_project_form" %>
      </div>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <script>
    /* create datepicker for start date and end date */
    <% min_date = Date.today.strftime('%-m-%-d-%Y')  %>

    $('#datepicker_end_date').datepicker({
      dateFormat: 'dd/mm/yy',
      constrainInput: true
    });

    $('#datepicker_start_date').datepicker({
      dateFormat: 'dd/mm/yy',
      constrainInput: true,
      minDate: new Date(<%= raw [min_date] %>),
      onClose: function(selectedDate) {
        $("#datepicker_end_date").datepicker("option", "minDate", selectedDate );
        $("#datepicker_end_date").focus();
      }
    });
  </script>
<% end %>
