
<div class="text-center", style="margin-top: 60px">

<h1>500 Internal Server Error</h1>

<h3> Looks like someone drank too much</h3>
<div>
  <%= image_tag "spilled_beer.jpg", align: "middle", style: "height: 300px; width:350px; margin-top: 50px;"%>
</div>

</div>
