<h1>Errors#internal_server_error</h1>
<p>Find me in app/views/errors/internal_server_error.html.erb</p>

</div>
  <%= image_tag "screenshot-batchit.png", style: "height: 270px; width:550px; margin-right: 100px; margin-top: 75px;"%>
</div>
