
<div class="text-center", style="margin-top: 60px">

<h1>404 Not Found</h1>

<h3> Can't find the beer you are looking for </h3>
<div>
  <%= image_tag "empty_fridge.jpg", align: "middle", style: "height: 300px; width:350px; margin-top: 50px;"%>
</div>

</div>
