.banner-container{
  height: 500px;
  width: 100%;
  position:relative;
}

.banner{
  position:relative;
  background-size: cover;
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: grey 0.8;
  overflow:hidden;
}

  .form-container{
    position: absolute;
    right: 40px;
    bottom: -300px;
    input{
      font-size: 12px;
    }
    label{
      font-size: 12px;
    }
  }
