.participant-card{
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  background-color: white;
  box-shadow: 0px 1px 1px $gray-very-very-light;
  border: solid 1px $gray-very-light;
  position: relative;
  img{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
  }
  p{
    margin-left: 40px;
    text-align: left;
    margin-bottom: 0px;
  }
}
