.results-card {
  height: 250px;
  background: white;
  width: 195px;
  margin: 30px auto;
  box-shadow: 0px 1px 1px $gray-light;
    color: $gray;
}

.result-line {
  width: 100%;
  display: flex;
  height: 80px;
  margin: 5px 0px;
  margin: 2 0 0 0;
  background-color: $gray-very-very-light;
  .selection_card{
    box-shadow: none;
    p{
      font-weight: bolder;
    }
  }
}

.result-item {
  margin: 0px;
  width: 80px;
  height: 68px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  line-height: 68px;
  background-size: cover;
  padding: 5px;
}

.result-item p {
  margin: 0px;
  height: 68px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 68px;
  text-align: center;
  font-size: 12px;
  strong{
    font-size: 14px;
  }
}
