<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center"><h2>Restaurants</h2></div>
    <% @restaurants.each do |thing| %>
      <div class="col-xs-4">
        <%= render "shared/vote_card", type: thing.thing_type, thing: thing %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center"><h2>Accommodations</h2></div>
    <% @accommodations.each do |thing| %>
      <div class="col-xs-4">
        <%= render "shared/vote_card", type: thing.thing_type, thing: thing %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center"><h2>Activities</h2></div>
    <% @activities.each do |thing| %>
      <div class="col-xs-4">
        <%= render "shared/vote_card", type: thing.thing_type, thing: thing %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center"><h2>Bars</h2></div>
    <% @bars.each do |thing| %>
      <div class="col-xs-4">
        <%= render "shared/vote_card", type: thing.thing_type, thing: thing %>
      </div>
    <% end %>
  </div>
</div>


